.button
	color: $text-color-light
	background-color: $button_orange
	border: none
	padding: 13px 18px
	border-radius: 5px
	margin-left: 13px
	font-size: 14px
	font-family: Roboto Medium, sans-serif
	&:hover
		background-color: lighten($button_orange, 5)
		cursor: pointer
	&:focus
		outline: none
	img
		vertical-align: middle
		margin-right: 6px
	&_big
		padding: 19px