body {
  font-family: Roboto Regular, sans-serif;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  margin-right: 13px;
  font-size: 22px;
  color: #373737;
  font-family: 'Roboto Medium', sans-serif;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.button {
  color: #ffffff;
  background-color: #ff9d00;
  border: none;
  padding: 13px 18px;
  border-radius: 5px;
  margin-left: 13px;
  font-size: 14px;
  font-family: Roboto Medium, sans-serif;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button img {
  vertical-align: middle;
  margin-right: 6px;
}

.button_big {
  padding: 19px;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/section-main/Layer_54.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -195px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.main-text__title {
  font-family: 'Roboto Bold', sans-serif;
  color: #ffffff;
  font-size: 41px;
}

.main-text__subtitle {
  font-size: 28px;
  color: #ffffff;
  font-family: 'Roboto Regular', sans-serif;
  margin-bottom: 24px;
}

.main-text__form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 27px 30px;
}

.form input {
  border: none;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 12px;
  padding-right: 130px;
  font-size: 14px;
}

.form-title {
  padding-right: 82px;
  font-family: 'Roboto Light';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  text-transform: uppercase;
  font-family: 'Roboto Bold';
}

.form-title__min {
  margin-left: 19px;
  font-family: 'Roboto Light';
  font-size: 14px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  top: 0;
}

.popup-close {
  top: -30px;
  position: fixed;
  left: 100%;
  font-size: 30px;
  cursor: pointer;
}

.popup-wrapper {
  text-align: center;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 100px;
  color: #fff;
  max-width: 750px;
  max-height: 280px;
}

.popup-wrapper__img {
  background: url("../img/Rectangle_1_copy_3.jpg");
  background-size: cover;
}

.popup-title {
  font-size: 21px;
  padding: 23px 0px;
  background-color: #ff9d00;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Roboto Medium', sans-serif;
}

.popup-subtitle {
  padding-top: 41px;
  line-height: 27px;
  font-size: 30px;
  margin-bottom: 23px;
}

.popup-subtitle__important {
  font-size: 24px;
}

.popup-subtitle__phone {
  font-size: 20px;
  font-family: 'Roboto Light', sans-serif;
  margin-bottom: 17px;
}

.popup-form input {
  padding: 21px 220px 21px 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 9px;
}

.popup-form__min {
  font-size: 14px;
  font-family: 'Roboto Light', sans-serif;
  padding-bottom: 49px;
}